    <a class="text-decoration-none text-reset" style=" cursor : pointer" (click)="onClickOfRecipie()">
        <div class="d-flex justify-content-between align-items-center">
      
      <!-- Left side: Title + Description -->
      <div class="me-3">
        <h5 class="mb-1">{{RecipieItem.name}}</h5>
        <p class="mb-0 text-muted">{{RecipieItem.description}}</p>
      </div>

      <!-- Right side: Image -->
      <img 
        [src]= 'RecipieItem.imagePath'
        [alt]= 'RecipieItem.name' 
        class="img-fluid"
        style="width: 120px; height: 90px; object-fit: cover; border-radius: 8px;"
      />
    </div>
    </a>   
