<div class="row">
    <div class="col-md-12">
        <h1>{{selectedRecipie.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <img [src]="selectedRecipie.imagePath" [alt]="selectedRecipie.name" style="width: 800px; height: 500px; object-fit: cover">
    </div>
</div>
<div class="row">
    <div class="col-md-12" appDropDown>
            <button class="btn btn-primary dropdown-toggle" id="navbarDropdown" >
                Manage
            </button>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Add to shopping list</a></li>
                <li><a class="dropdown-item" href="#">Edit recipe</a></li>
                <li><a class="dropdown-item" href="#">Delete recipe</a></li>
            </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{selectedRecipie.description}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        Ingredients
    </div>
</div>