<div class="row">
  <div class="col-md-12">
    <h1>{{ selectedRecipie.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <img
      [src]="selectedRecipie.imagePath"
      [alt]="selectedRecipie.name"
      style="width: 800px; height: 500px; object-fit: cover"
    />
  </div>
</div>
<div class="row">
  <div class="col-md-12" appDropDown>
    <button class="btn btn-primary dropdown-toggle" id="navbarDropdown">
      Manage
    </button>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li>
        <a class="dropdown-item" (click)="addIngredientsToShoppingList()"
          >Add to shopping list</a
        >
      </li>
      <li>
        <a class="dropdown-item" [routerLink]="['/recipies', recipieId, 'edit']"
          >Edit recipe</a
        >
      </li>
      <li>
        <a class="dropdown-item" (click)="deleteRecipie()">Delete recipe</a>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{ selectedRecipie.description }}
  </div>
</div>
<div class="row my-3">
  <div class="col-md-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of selectedRecipie.ingredients"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})
      </li>
    </ul>
  </div>
</div>
